#navigation {
	font-family: 'Pacifico', cursive;
	font-size: 50px;
	text-decoration: none;
}


#nav_block {
	background-color: #F5C1F5;
	padding: 40px;
}

.nav_elem {
	margin-left: 80px;
	color: #1963FA;
	text-decoration: none;
}

.paragraph {
	margin-top: 30px;
	background-color: #78858B;
	padding: 30px;
}

.gallery_img {
	width: 30%;
}

html{
   scroll-behavior: smooth;
}

h1 {
	font-family: 'Shadows Into Light', cursive;
	font-size: 80px;
	text-align: center;
}

h2 {
	font-family: 'Montserrat Alternates', sans-serif;
	font-size: 34px;
}

p {
	font-family: 'Montserrat Alternates', sans-serif;
	font-size: 26px;

}



.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    margin-top: 20px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}